<a class="list-game__link" href="#">
  <div class="list-game__img-wrapper">
    <img class="list-game__img" [src]="imgUrl">
  </div>
  <div class="list-game__info-wrapper">
    <p class="list-game__name">
      {{name}}
    </p>
    <div class="list-game__price-info">
      <ng-container *ngIf="sale">
        <p class="list-game__sale">{{sale}}</p>
      </ng-container>
      <div class="list-game__price-wrapper">
        <p class="list-game__price list-game__old-price"><s>{{oldPrice | currency: 'RUB':'symbol-narrow' : '1.0-0'}}</s></p>
        <p class="list-game__price list-game__new-price">{{newPrice | currency: 'RUB':'symbol-narrow': '1.0-0'}}</p>
      </div>
    </div>
  </div>
</a>
