.group-sort {
  padding: 1rem 12rem;
}

.group-sort__title {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 2rem 0 1rem;
}

.group-sort__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.group-sort__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5625rem 0.5rem 0.9375rem;
  width: 100%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.group-sort__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.group-sort__img-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(32, 32, 32);
  border-radius: 4px;
  filter: drop-shadow( 0px 0px 25px rgba(0, 0, 0, 0.4));
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.group-sort__img-wrapper {
  font-size: 0;
  width: calc(100% / 2);
}

.group-sort__img-wrapper:nth-child(1)::before,
.group-sort__img-wrapper:nth-child(3)::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.group-sort__img-wrapper:nth-child(1)::before {
  right: 50%;
  background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%);
}

.group-sort__img-wrapper:nth-child(3)::before {
  left: 50%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%);
}

.img-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.4));
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}

.group-sort__img {
  width: 100%;
}

.group-sort__name {
  padding-top: 0.875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(245, 245, 245);
}

.all-games {
  display: grid;
  grid-template-columns: 1fr 15%;
  gap: 2rem;
  padding: 5rem 12rem 3rem;
  width: 100%;
}

.all-games__games {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.games__games-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  row-gap: 3rem;
  padding: 1rem 0;
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}

.list-game__item {
  min-height: 100px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.list-game__link {
  display: grid;
  text-decoration: none;
  color: #FFFFFF;
}

.list-game__img-wrapper {
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.list-game__img {
  width: 100%;
}

//.list-game__link:hover {
//
//  .list-game__img-wrapper {
//    &:after {
//      opacity: 1;
//    }
//  }
//}
//

.list-game__info-wrapper {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.list-game__name {
  width: 100%;
  padding: 0 0 .4rem 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.list-game__price-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.list-game__sale {
  padding: 0.3125rem 0.625rem;
  font-size: 0.625rem;
  background-color: rgb(0, 116, 228);
  border-radius: 4px;
}

.list-game__price-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list-game__price {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.list-game__old-price {
  opacity: .6;
}

.filters__options {
  list-style: none;
  padding: 0.5rem 0;
}

.filters__title {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.filters__search-input {
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:focus {
    outline-offset: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.filters__filters-item {
  padding: 0.25rem;
  border-top: 1px solid rgba(245, 245, 245, 0.25);
}

.filters__filters-item:last-child {
  border-bottom: 1px solid rgba(245, 245, 245, 0.1);
}

.filters__filters-name {
  padding: 1.5rem 0;
  width: 100%;
  font-size: 0.6875rem;
  text-align: left;
  color: rgb(245, 245, 245);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline-offset: 0;
    outline: 0;
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    background-image: url('/assets/images/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position: 50% 50%;
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
  }
}

.filters__filters-name--active {
  &:after {
    transform: rotate(-90deg);
  }
}








