<div class="header">
  <a href="#" class="header__logo-wrapper">
    <h1>Go</h1>
  </a>
  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#" class="nav__item-link nav__item-link--active">ГЛАВНАЯ</a></li>
      <li class="nav__item"><a href="#" class="nav__item-link">ВСЕ ИГРЫ</a></li>
      <li class="nav__item"><a href="#" class="nav__item-link">НОВОСТИ</a></li>
      <li class="nav__item"><a href="#" class="nav__item-link">СОТРУДНИЧЕСТВО</a></li>
    </ul>
  </nav>

  <div class="header__user-action user-action">
    <button class="user-action__button button-user-like">
      <span>СПИСОК ЖЕЛАЕМОГО</span>
      <svg class="user-action__icon" width="24" height="24">
        <use href="assets/images/icons/like.svg"></use>
      </svg>
    </button>
    <button class="user-action__button button-user-basket">
      <span>КОРЗИНА</span>
      <svg class="user-action__icon" width="24" height="24">
        <use href="assets/images/icons/likes.svg"></use>
      </svg>
    </button>
  </div>
</div>
