.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    //top: 0;
    //left: 0;
    right: -5rem;
    bottom: -5rem;
    width: 10rem;
    height: 10rem;
    background-color: #EF84F5;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -1;
  }

  &:before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: -15rem;
    width: 30rem;
    height: 5rem;
    background-color: #2EE09A;
    border-radius: 50%;
    filter: blur(9rem);
    z-index: -1;
  }
}

.main {
  padding: 0 7rem;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}



