<div class="carousel">

  <div class="carousel__main-images-wrapper">
    <ng-container *ngFor="let game of mainGamesList">
    <div class="carousel__main-img-wrapper"
         [class.carousel__main-img-wrapper--current]="game.img.main === currentGameImg"
    >
      <a class="carousel__main-img-link">
        <img class="carousel__main-img" [src]="game.img.main">
      </a>
    </div>
    </ng-container>
  </div>

  <ul class="carousel__game-list">
    <ng-container *ngFor="let game of mainGamesList; let index = index">
      <div class="carousel__game"
            [class.carousel__game--current]="game.name === currentGameName"
      >
        <li class="carousel__game-li" (click)="changeCurrentGameIndex(index)">
        <div class="carousel__image-wrapper">
          <img class="carousel__img" [src]="game.img.promo">
        </div>
        <p class="carousel__game-name">{{game.name}}</p>
        </li>
      </div>
    </ng-container>
  </ul>

</div>

