
<!--<ul class="nav">-->
<!--  <div #cont2></div>-->
<!--  <li #pirat class="nav__item"><a class="nav__link" href="#">Рекомендации</a></li>-->
<!--  <li class="nav__item"><a class="nav__link" href="#">Категории</a></li>-->
<!--  <ng-content></ng-content>-->
<!--  <div #cont></div>-->
<!--&lt;!&ndash;  <li class="nav__item"><a class="nav__link" href="#">Для телефона</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;  <li class="nav__item"><a class="nav__link" href="#">Для детей</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;  <li class="nav__item"><a class="nav__link" href="#">Новинки</a></li>&ndash;&gt;-->
<!--</ul>-->

