<div class="games__sort-dropdown dropdown"
     (click)="toggleMenu($event)"
     [class.dropdown--active]="isOpenedMenu"
     [attr.dropdown-active]="isOpenedMenu"
     tabindex="0">
  <p class="dropdown__label">{{label}}</p>
  <p class="dropdown__select-item">{{selectOption?.label}}</p>
  <ng-container *ngIf="isOpenedMenu">
    <div class="dropdown__panel">
      <ul class="dropdown__list">
        <li *ngFor="let option of options">
          <button type="button"
                  class="dropdown__item dropdown__item-current"
                  (click)="chooseOption(option)"
          >
            <span class="dropdown__item-name">{{option.label}}</span>
          </button>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
