/* You can add global styles to this file, and also import other style files */

:root {
  --primory-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Titillium Web', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #060b1a;
  color: white;
}
